[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "akwick.github.io"]
	path = akwick.github.io
	url = https://github.com/akwick/akwick.github.io
	branch = master
